cycler==0.11.0
Cython==0.29.28
h5py==2.10.0
kiwisolver==1.4.0
matplotlib==3.2.2
natsort==8.1.0
ncls==0.0.64
numpy==1.18.5
pandas==1.3.5
plotly==4.11.0
pybedtools==0.8.1
pyparsing==3.0.7
pyranges==0.0.112
pyrle==0.0.34
pysam==0.18.0
python-dateutil==2.8.2
pytz==2021.3
regex==2020.6.8
retrying==1.3.3
scipy==1.5.0
seaborn==0.10.1
six==1.16.0
sorted-nearest==0.0.33
tabulate==0.8.9
